body > .container {
    margin-top: 50px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    float: left;
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.section-row {
    padding-top: 15px;
    clear: both;
}

.section {
    width: 40%;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-right: 5%;
}

.top {
    padding-top: 30px;
    margin-bottom: 15px;
}

.desc {
    background-color: #E5E5E5;
    width: 620px;
    padding: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    float: left;
    text-align: justify;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 20px;

}

.features {
    float: left;
    width: 320px;
}

.continue {
    text-align: right;
}

.section H3 {
    height: 30px;
}