<c:template name="components/footers/FooterDefault"
    xmlns:docs="docs"
    xmlns:c="core"
    docs:functions="url">
    
    <div style="clear: both"/>
    <div class="footer">
        <div class="container">
            <div class="bd">
                <div class="powered-by">
                    Powered by <a href="${url('/')}" class="raptorjs">RaptorJS</a>
                </div>
            </div>
        </div>
    </div>
    
</c:template>