<c:template
    xmlns:c="core"
    params="url,title,size,body">
    
    <div class="feature-portal-section {?size;feature-portal-section-$size}">
        <div class="content">
            <h3>
                <a href="$url">$title</a>
            </h3>
            <div class="bd">
                <p>
                    $!body
                </p>
            </div>
        </div>
    </div>
    
</c:template>