<c:template
    xmlns:c="core"
    xmlns:docs="docs">
    
    
    
    <docs:docs heading="Module Loader: Get Started using Node" disqus-id="module-loader-get-started-node">
        <docs:message type="warning">
            Documentation In-Progress
        </docs:message>
            
        <docs:section heading="Overview">
            <p> 
            </p>
        </docs:section>
        
    </docs:docs>
    
</c:template>

