body > .container {
    margin-top: 50px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    float: left;
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.section-row {
    
}

.section {
    width: 40%;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-left: 5%;
    margin-right: 5%;
}

.top {
    padding-top: 30px;
    margin-bottom: 15px;
}

.desc {
    background-color: #E5E5E5;
    width: 600px;
    padding: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    float: left;
    text-align: justify;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 20px;

}

.features {
    float: left;
    width: 340px;
}

.continue {
    text-align: right;
}

.section-dev-guide {
    margin-top: 62px;
}

.section-try-online H3 > A {
    z-index: 100;
    position: absolute;
}

.section H3 {
    height: 30px;
}

.start-here {
    width: 165px;
    height: 62px;
    position: relative;
    background-image: url(start-here.png);
    top: 23px;
    left: -44px;
    z-index: 99;
}