.fork > IMG {
    border: 0 none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
}




.main-content {
/*     width: 700px; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     background-color: #EEE; */
    padding: 20px;
/*     border: 1px solid #C0C0C0; */
    margin-bottom: 20px;
}

.main-content > H1 {
    font-size: 32px;
}

.main-content > H2 {
    font-size: 28px;
    color: #535353;
    line-height: 28px;
    vertical-align: middle;
}

.main-buttons {
    margin-top: 20px;
}

.main-buttons .btn {
    font-size: 20px;
}

.main-buttons .btn:first-child {
    margin-right: 20px;
}


.main-buttons .btn.get-started-button {
    
}

.main-content .social {
    float: right;
}

.version-container {
    padding-top: 4px;
}

.version-container > .version {
    font-weight: bold;
}

.overview {
    
}

.summary {
    border-top: 1px solid #C0C0C0;
    padding-top: 20px;
    padding-bottom: 20px;   
    font-size: 16px;
}

.features-row {
    clear: both;
    padding-bottom: 20px;
    padding-top: 20px;
}

.features-row:first-child {
     padding-top: 0;
}

.feature-section {
    width: 33%;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-size: 14px;
}


.feature-section IMG {
    margin-right: 15px;
    margin-bottom: 0px;
    float: left;
}

.feature-section > .content {
    margin-left: 8px;
    margin-right: 8px;
}

.feature-section > .content > .bd{
    text-align: justify ;
}


.feature-section:first-child > .content {
     margin-left: 0px;
}

.feature-section:last-child > .content {
     margin-right: 0px;
}


.feature-section > H3 {
    text-align: middle;
}

.learn-more {
    text-align: right;
    margin-top: 5px;
    font-size: 14px;
}