BODY > .container > H1 {
    padding-top: 20px;
}

PRE.code, PRE.sh {
    border: 1px solid #C0C0C0;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #222;
    color: #F5F5F5;
    overflow-x: auto;
}

.feature-portal-top {
    margin-top: 60px;
    margin-bottom: 15px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.feature-portal-desc {
    background-color: #E5E5E5;
    padding: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    text-align: justify;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 41%;

}

.feature-portal-features {
    right: 0px;
    top: 0px;
    width: 40%;
    position: absolute;
}

.feature-portal-section {
    float: left;
    
}

.feature-portal-section .content {
    margin-right: 16px;    
    position: relative;
    min-height: 120px;
}

.feature-portal-section .content .bd {
    padding-bottom: 10px;
}


.feature-portal-section-small {
    width: 33%;
}

.feature-portal-section-40 {
    width: 40%;
}

.feature-portal-section-60 {
    width: 60%;
}

.feature-portal-section .continue {
    text-align: right;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

BODY {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    margin-left: 0 !important;
    margin-right: 0 !important;
}



@media (max-width: 979px){
    .feature-portal-top {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 979px){

    .feature-portal-section-small {
        width: 50%;
    }
}

@media (min-width: 480px) and (max-width: 760px) {
    .feature-portal-desc {
        background-color: #E5E5E5;
        padding: 30px;
        -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: content-box;    /* Firefox, other Gecko */
        box-sizing: content-box;         /* Opera/IE 8+ */
        text-align: left;
        font-size: 16px;
        border-radius: 20px;
        margin-right: 0;

    }

    .feature-portal-features {
        right: auto;
        top: auto;
        width: 100%;
        position: static;
    }

}

@media (max-width: 620px) {
    

    BODY > .container {
        margin-top: auto;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .feature-portal-desc {
        background-color: #E5E5E5;
        padding: 30px;
        -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: content-box;    /* Firefox, other Gecko */
        box-sizing: content-box;         /* Opera/IE 8+ */
        text-align: left;
        font-size: 16px;
        border-radius: 20px;
        margin-right: 0;

    }

    .feature-portal-section .content {
        margin-right: auto;
        position: relative;
        min-height: auto;
    }


    .feature-portal-features {
        right: auto;
        top: auto;
        width: 100%;
        position: static;
    }

    .feature-portal-section {
        float: none;
    }

    .feature-portal-section-small, .feature-portal-section-40, .feature-portal-section-60 {
        width: auto;
    }

    .feature-portal-section .continue {
        display: none;
    }

    .feature-portal-top {
        margin-left: 0;
        margin-right: 0;
    }
}