.code-editor-auto-resize .CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.CodeMirror {
    border: 1px solid #EEEEEE;
}

.CodeMirror {
    background-color: #FFF;
}
